@media(min-width:321px){
    
    
    .novedades{
        .btn{
            margin: 2rem auto;
        }
    }
}
@media (min-width:567px){
    header{
        padding: 1rem 3rem;
        nav{
            #menuToggle{
                #menu{
                    right: -3rem;
                }
            }
        }
    }
    .container{
        margin: 1rem 3rem;
    }
    .episodios{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        h3{
            width:100%;
        }
        iframe {
            margin: 0.5rem 1rem;
            width: 45%;
            display: block;
        }
    }
    .history div {
        width: 50%;
        height: auto;
        align-self: center;        
    }
    .history .column{
        width: 100%;
        
    }
    .relative{
        margin-bottom: -8rem;
    }
    .gallery{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        h3{
            width: 100%;
        }
        div{
            width: 50%;
            height: auto;
        
        }    
    }
    .temas{
        flex-direction: row;
        flex-wrap: wrap;
        div{
            width: 49%
        }
    }
   
}