* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
}

html {
  font-size: 14px;
}

body {
  font-family: "IBM Plex Mono", monospace;
  color: #060A24;
  background-color: #fff;
}

h1, h3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.571rem;
}

h2 {
  font-size: 1rem;
}

h4 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.714rem;
  font-weight: 600;
}

p {
  padding: 0.5rem 0rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
}

header #menuToggle {
  display: block;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

header #menuToggle #menu {
  opacity: 0;
  position: absolute;
  top: 25px;
  right: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100vw;
  background: #0000EC;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  padding: 1rem 0rem;
}

header #menuToggle #menu li {
  list-style: none;
  padding: 15px 10px 10px 15px;
  font-size: 1.143rem;
}

header #menuToggle #menu a {
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-transform: uppercase;
  font-size: 1.143rem;
  color: #fff;
}

header #menuToggle #menu a:hover {
  color: #00F3BB;
  text-decoration: line-through;
}

header #menuToggle #menu a:active {
  color: rgba(6, 10, 36, 0.56);
  text-decoration: line-through;
}

header input {
  display: block;
  width: 35px;
  height: 32px;
  position: absolute;
  right: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

header .hamburger {
  width: 18px;
  height: 2px;
  background-color: #000;
  display: block;
  margin: 3px 0px;
  border-radius: 2px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

header .hamburger:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

header .hamburger:last-child {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

header input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(2px, -1px);
          transform: rotate(45deg) translate(2px, -1px);
}

header input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

header input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(2px, -1px);
          transform: rotate(-45deg) translate(2px, -1px);
}

header #menuToggle input:checked ~ #menu {
  opacity: 1;
}

main h1 {
  font-size: 2.571rem;
  line-height: 3rem;
}

main h1 #tachar {
  text-decoration: line-through;
}

main h2 {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.571rem;
}

.btn {
  display: block;
  margin: 2rem 0 2rem 0;
  background-color: #00F3BB;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.143rem;
  line-height: 1.571rem;
  font-weight: 500;
  width: 20.571rem;
  height: 3.429rem;
  border-style: none;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.btn:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

.container {
  margin: 1rem 1rem;
}

.call-to-action h1 {
  width: 80%;
}

.episodios {
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
          clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
  padding: 3rem 0.7rem 7.5rem 0.7rem;
}

.episodios h3 {
  color: #fff;
}

.episodios iframe {
  margin: 0.5rem auto;
  width: 97%;
  display: block;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery div {
  width: 100%;
  height: auto;
}

.gallery div img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.temas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.temas h3 {
  width: 100%;
}

.temas div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.4rem auto;
}

.relative {
  position: relative;
  top: -6rem;
  margin-bottom: -6rem;
}

.align-left {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.align-center {
  text-align: center;
}

.history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.history div {
  width: 100%;
  height: auto;
}

.history div img {
  width: 100%;
  height: auto;
}

.history div .column {
  width: 100%;
}

.history div .column h3 {
  padding: 0rem;
}

.novedades {
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
  padding: 3rem 0 3rem 0;
}

.novedades h3 {
  color: #fff;
  text-align: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}

footer .icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.143rem;
}

footer .icons a {
  text-decoration: none;
  color: #060A24;
}

footer .icons i {
  padding: 0 1.25rem;
}

@media (min-width: 321px) {
  .novedades .btn {
    margin: 2rem auto;
  }
}

@media (min-width: 567px) {
  header {
    padding: 1rem 3rem;
  }
  header nav #menuToggle #menu {
    right: -3rem;
  }
  .container {
    margin: 1rem 3rem;
  }
  .episodios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .episodios h3 {
    width: 100%;
  }
  .episodios iframe {
    margin: 0.5rem 1rem;
    width: 45%;
    display: block;
  }
  .history div {
    width: 50%;
    height: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .history .column {
    width: 100%;
  }
  .relative {
    margin-bottom: -8rem;
  }
  .gallery {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .gallery h3 {
    width: 100%;
  }
  .gallery div {
    width: 50%;
    height: auto;
  }
  .temas {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .temas div {
    width: 49%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
  header {
    padding: 0.5rem 2rem 1rem 2rem;
  }
  header nav {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav #menuToggle input {
    display: none;
  }
  header nav #menuToggle .hamburger {
    display: none;
  }
  header nav #menuToggle #menu {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0rem;
  }
  header nav #menuToggle #menu li {
    list-style: none;
    padding: 2rem 1rem;
  }
  header nav #menuToggle #menu a {
    color: #060A24;
  }
  .history {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .history div {
    width: 48%;
    height: auto;
  }
  .history div img {
    width: 92%;
  }
  .history .column {
    width: 45%;
  }
  .relative {
    margin-bottom: -8rem;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
  body {
    margin-bottom: -11rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 1.688rem;
  }
  header {
    padding: 1.65rem 6.25rem 1.65rem 6.25rem;
  }
  header nav #menuToggle #menu li {
    padding: 0 1.5rem;
    font-size: 1rem;
  }
  .container {
    margin: 1rem 12.5rem 0rem 12.5rem;
  }
  .call-to-action {
    padding-top: 6.5rem;
  }
  .call-to-action h1 {
    font-size: 4rem;
  }
  .call-to-action h1 #punto {
    color: #0000EC;
  }
  .call-to-action h2 {
    width: 60%;
    padding-bottom: 1.5rem;
    padding-top: 0rem;
  }
  .call-to-action .btn {
    margin: 2rem 0rem 0rem 0rem;
    width: 14.125rem;
  }
  .episodios {
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5rem 0 10rem 0;
  }
  .episodios h3 {
    padding-top: 4.375rem;
    padding-bottom: 2rem;
  }
  .episodios iframe {
    margin: 0.5rem 2rem;
    width: 40%;
    height: 232px;
    display: block;
  }
  .relative {
    top: -11rem;
    margin-bottom: -11rem;
  }
  .column h3 {
    padding-bottom: 1rem;
  }
  .gallery h3 {
    padding-bottom: 2rem;
  }
  .gallery div {
    width: 33.333%;
  }
  .temas h3 {
    width: 100%;
    padding: 1rem 0rem 1rem 0rem;
  }
  .temas div {
    width: 25%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .novedades {
    -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
    padding: 11rem 0 8rem 0;
    margin-top: 1.25rem;
  }
  .novedades h3 {
    padding-bottom: 0;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.5rem 6.25rem 1.5rem 6.25rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer p {
    width: 50%;
    text-align: left;
  }
  footer .icons {
    width: 50%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
/*# sourceMappingURL=styles.css.map */